.h1{
    background-color: rgb(82, 150, 152);
    text-align: center;
}

.carousel{
    margin:20px auto;
    width: 700px;
    height: 500px;

}
.carousel-item{
width: 100%;
object-fit: cover;
}

.carousel-control-prev-icon{
    background-color:rgb(90, 89, 89);
    
}
.carousel-control-next-icon{

    background-color:rgb(90, 89, 89);

}